<section class="home-container">
    <!-- Slider and main images -->
    <div class="slider" img-slide>
        <ul class="slides">
            <li>
                <img src="./images/slide_1.jpg">
            </li>
            <li>
                <img src="./images/slide_2.jpg">
            </li>
            <li>
                <img src="./images/slide_3.jpg">
            </li>
            <li>
                <img src="./images/slide_4.jpg">
            </li>
            <li>
                <img src="./images/slide_5.jpg">
            </li>
        </ul>
    </div>
    <div class="home-center">
        <h5 style="color:#683047; letter-spacing:2px; margin-top:5vh;"> TOOLS FOR THINKERS </h5>
        <div class="row">

            <div class="col l6 offset-l3 s10 offset-s1">
                <p style="color:#B2B2B2">Your ideas need a place to live. By writing them down, you allow for them to develop and you also make room for new ideas to blossom.</p>
            </div>
        </div>
    </div>

    <!-- Mid content with product columns -->

    <div class="product-container">
        <div class="row">
            <div class="col s12 m4 l4">
                <div>
                    <img src="./images/confidant_v3.jpg" alt="Confidant" />
                </div>
                <h6>CONFIDANT HARDCOVER</h6>
                <a href="#">Learn more »</a>
            </div>
            <div class="col s12 m4 l4">
                <div>
                    <img src="./images/squire_v3.jpg" alt="Confidant" />
                </div>
                <h6>SQUIRE PEN</h6>
                <a href="#">Learn more »</a>
            </div>
            <div class="col s12 m4 l4">
                <div>
                    <img src="./images/vanguard_v3.jpg" alt="Confidant" />
                </div>
                <h6>VANGUARD SOFTCOVER</h6>
                <a href="#">Learn more »</a>
            </div>
        </div>
    </div>

    <!-- Tertiary information -->

    <div class="tree-container">
        <div class="row">
            <div class="col s12">
                <div class="inner-tree">
                    <h5>65,711 Trees Planted</h5>
                    <img src="./images/happy_little_trees.png" alt="Happy Little Trees" height="40px" width="32px" />
                    <a href="#">
                        <p class='learn-more-trees'>LEARN MORE</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>
