<section class="projects-container">
    <div class="projects-spirit">
        <div>
            <h4>Projects that celebrate the maker spirit.</h4>
            <h6 style="color:#754156;font-weight: 300;">Our Mission: To champion thinkers in their journey to create and inspire the world.</h6></div>
    </div>

    <!-- Project banners below -->
    <div class="img-source">
        <img src="./images/project/project_banner01.jpg" width="100%">
        <h3>THE BOOK BOARD</h3>
    </div>

    <div class="img-source" style="position:relative">
        <img src="./images/project/project_banner02.jpg" width="100%">
        <h3>POSTER PROJECT</h3>
    </div>

    <div class="img-source" style="position:relative">
        <img src="./images/project/project_banner03.jpg" width="100%">
        <h3>IDEA SERIES</h3>
    </div>

    <div class="img-source" style="position:relative">
        <img src="./images/project/project_banner04.jpg" width="100%">
        <h3>SPOTTED</h3>
    </div>

    <!-- Vidoe iframe below -->
    <div class="video-container">
        <iframe src="https://player.vimeo.com/video/88377031?color=E6E6E6&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <div class="projects-bottom">
        <div class="row">
            <div class="col l6 m6 s12" style="text-align:left">
                <h5>Faron Big Projects</h5>
                <p>We make Tools for Thinkers designed with a philosophy of simplicity, usefulness and community. Faron Big Projects are creative experiments, events, and endeavors that exemplify the kind of thinking we aim to champion. We hope you enjoy.
                </p>
            </div>
            <div class="col l6 m6 s12">
              <h5 style="margin-top:15px; margin-left:10%">STAY UPDATED</h5>

              <!-- MailChimp embed begins -->
                <div id="mc_embed_signup">
                    <form action="//sumanb.us13.list-manage.com/subscribe/post?u=24a419b8cd6ed04529ae398d5&amp;id=b19e73faaa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate style="text-align:left;">
                        <div id="mc_embed_signup_scroll">

                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter email address" required style="height:33px;">
                            <input type="submit" value="SUBMIT" name="subscribe" id="mc-embedded-subscribe" class="button" style="width:70px;height:33px; background:#ffd969; color:#683047;">
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_24a419b8cd6ed04529ae398d5_b19e73faaa" tabindex="-1" value="">
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</section>
