<div class="shop-container" style="background:#F1F2F4">
    <div class="row">
        <div class="col l8 s12 center">
          <!-- Main image the user sees of the product -->

            <img class="center" src="{{selectedItem}}" />
        </div>
        <div class="product-container col l4 s12">
          <!-- Column to the right of the image. Product description and such. -->
          <div class="product-intro center">
            <h4>{{vm.result.productName}}</h4>
            <p>
                {{vm.result.productDesc}}
            </p>
          </div>

          <div class="divider"></div>

          <div class="options-container">
            <div class="user-selection">

              <!-- Product images. Changes the image on the left as well. -->
              <label>{{vm.result.color[0].type}}</label>
              <select class="color-selector browser-default"
                    ng-init="selectedItem = vm.result.color[0].img"
                    ng-model="selectedItem"
                    ng-options="item.img as item.label for item in vm.result.color"
                    ng-show="vm.result.color[0].label">
              </select>
            </div>

            <!-- Product ink options. Applies only to the Squire Pen -->
            <div class="user-selection">
              <label>{{vm.result.ink[0].type}}</label>
              <select class="browser-default"
                    ng-init="selectedInk = vm.result.ink[0].name"
                    ng-model="selectedInk"
                    ng-options="ink.name as ink.name for ink in vm.result.ink"
                    ng-show="vm.result.ink[0].name">
              </select>
            </div>

            <!-- Product buy options for the user. -->
            <div class="user-selection">
              <label>{{vm.result.save[0].type}}</label>
              <select class="browser-default"
                    ng-init="selectedSave = vm.result.save[0].price"
                    ng-model="selectedSave"
                    ng-options="save.price as save.name for save in vm.result.save"
                    ng-show="vm.result.save.length">
              </select>
            </div>
          </div>

          <div class="divider"></div>

            <!-- Total cost for the user. Auto updates -->
            <div class="user-selection">
              <label>QUANTITY:</label> <input class="quantity-box" type="number" name="quantity" min="1" max="1000" ng-model="vm.totalCalc" ng-init="vm.totalCalc=1">
            </div>
            <div class="user-selection" style="font-size:20px; color:#683047">$ {{vm.finalPrice(selectedSave)}}</div>

        </div>
    </div>
</div>


<!-- Bottom container for the other items we are selling -->
<div class="recommend-container">
  <div class="row">
      <div class="other-products col l3 m12 s12" ng-repeat="list in vm.product">
        {{list.productName}} <a ui-sref='shop({id:list.id})'><button class="waves-effect waves-light btn" type="button">Buy</button></a>
      </div>
  </div>
</div>
