body {
    border-top: 4.5px solid #80586C;
    background: #683047;
}
.nav-wrapper a {
    letter-spacing: 1px;
    color: #a2a2a2;
}
nav ul a:hover {
    background: none;
}
.nav-wrapper a:hover {
    color: #5D3348;
}
.error-container {
    margin-top: 20vh;
    margin-bottom: 20vh;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
}
#brand-logo {
    letter-spacing: 3px;
    color: #693248;
}
#main-dropdown {
    min-width: 150px;
    margin-top: 54px;
}
.dropdown-content li>a {
    color: #393939;
    line-height: -100%;
}
.home-container {
    background: #ffffff;
}
.slider .slides li {
    min-height: 300px;
}
@media (max-width:601px) {
    .home-container .slider {
        min-height: 75vh !important;
    }
    .slider .slides li {
        min-height: 75vh;
    }
    .slider .slides li:nth-child(1) img {
        background-image: url("../images/001.jpg") !important;
    }
    .slider .slides li:nth-child(2) img {
        background-image: url("../images/002.jpg") !important;
    }
    .slider .slides li:nth-child(3) img {
        background-image: url("../images/003.jpg") !important;
    }
    .slider .slides li:nth-child(4) img {
        background-image: url("../images/004.jpg") !important;
    }
    .slider .slides li:nth-child(5) img {
        background-image: url("../images/005.jpg") !important;
    }
}
.slider .indicators .indicator-item {
    bottom: 2vw;
    background-color: transparent;
    border: 1.5px solid #e0e0e0;
    z-index: 9000;
}
.slider .indicators .indicator-item.active {
    background-color: #ffffff;
}
.home-center {
    text-align: center;
    line-height: 200%;
    min-height: 15vh;
}
.product-container .row .col {
    color: #6B6B6B;
    text-align: center;
    border: 1.5px solid #F0F0F0;
    border-bottom: 0px;
    padding: 40px;
}
.product-container .row .col h6 {
    letter-spacing: 1px;
}
.product-container .row .col a {
    color: #CD9EB1;
}
.tree-container {
    background: #F1F2F4;
    margin-top: -20px;
}
.inner-tree {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 15vh;
    color: #96A08C;
}
.inner-tree img {
    margin-left: 1.5vw;
}
.inner-tree .learn-more-trees {
    margin-left: 2.5vw;
    background: none;
    color: #96A08C;
    border: 2px solid #96A08C;
    padding: 10px 25px 8px 25px;
    border-radius: 4px;
}
.inner-tree .learn-more-trees:hover {
    background: #96A08C;
    color: #ffffff;
}
@media (max-width:424px) {
    .inner-tree h5 {
        font-size: 18px;
    }
    .inner-tree .learn-more-trees {
        padding: 5px 10px;
    }
}
@media (min-width:601px) and (max-width:768px) {
    .product-container img {
        height: 150px;
        width: 150px;
    }
}
footer.page-footer {
    background: #683047;
    display: flex;
    flex-direction: column;
}
.footer-info-left {
    display: inline;
}
.brand-hero {
    color: #ffffff;
    font-size: 1.5em;
}
.footer-major {
    color: #D8C7CF;
    font-size: 12.5px;
    margin-right: 10px;
}
.footer-secondary {
    color: #99798D;
    font-size: .9em;
    margin-right: 10px;
}
@media only screen and (max-width: 601px) {
    footer.page-footer .container {
        text-align: center;
    }
    #mc_embed_signup_scroll {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .footer-info-right {
        margin-top: 10px;
    }
    #mc_embed_signup .clear {
        width: inherit !important;
    }
}
footer.page-footer .footer-copyright {
    background: #41182A;
}
#mc_embed_signup input.email {
    border-radius: 0px !important;
}
#mc_embed_signup .button {
    padding: 0 !important;
    text-align: center !important;
    border-radius: 0px !important;
}
#mc_embed_signup .button:hover {
    background: #f3c600 !important;
}
