body {
    border-top: 4.5px solid #80586C;
    background: #683047;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.nav-wrapper{
  height: 68px;
}

.nav-wrapper a {
    letter-spacing: 1px;
    color: #a2a2a2;
}
nav ul a:hover {
    background: none;
}
.nav-wrapper a:hover {
    color: #5D3348;
}
.error-container {
    margin-top: 20vh;
    margin-bottom: 20vh;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
}
#brand-logo {
    letter-spacing: 3px;
    color: #693248;
}
#main-dropdown {
    min-width: 150px;
    margin-top: 54px;
}
.dropdown-content li>a {
    color: #393939;
    line-height: -100%;
}
.home-container {
    background: #ffffff;
}
.slider .slides li {
    min-height: 300px;
}
@media (max-width:601px) {
    .home-container .slider {
      height: 120vw !important;
    }
    .slider .slides li {
        height: 100%;
    }
    .slider .slides li:nth-child(1) img {
        background-image: url("../images/001.jpg") !important;
    }
    .slider .slides li:nth-child(2) img {
        background-image: url("../images/002.jpg") !important;
    }
    .slider .slides li:nth-child(3) img {
        background-image: url("../images/003.jpg") !important;
    }
    .slider .slides li:nth-child(4) img {
        background-image: url("../images/004.jpg") !important;
    }
    .slider .slides li:nth-child(5) img {
        background-image: url("../images/005.jpg") !important;
    }
}
.slider .indicators .indicator-item {
    bottom: 2vw;
    background-color: transparent;
    border: 1.5px solid #e0e0e0;
    z-index: 5;
}
.slider .indicators .indicator-item.active {
    background-color: #ffffff;
}
.home-center {
    text-align: center;
    line-height: 200%;
    min-height: 15vh;
}
.product-container .row .col {
    color: #6B6B6B;
    text-align: center;
    border: 1.5px solid #F0F0F0;
    border-bottom: 0px;
    padding: 40px;
}
.product-container .row .col h6 {
    letter-spacing: 1px;
}
.product-container .row .col a {
    color: #CD9EB1;
}
.tree-container {
    background: #F1F2F4;
    margin-top: -20px;
}
.inner-tree {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 15vh;
    color: #96A08C;
}
.inner-tree img {
    margin-left: 1.5vw;
}
.inner-tree .learn-more-trees {
    margin-left: 2.5vw;
    background: none;
    color: #96A08C;
    border: 2px solid #96A08C;
    padding: 10px 25px 8px 25px;
    border-radius: 4px;
}
.inner-tree .learn-more-trees:hover {
    background: #96A08C;
    color: #ffffff;
}
@media (max-width:424px) {
    .inner-tree h5 {
        font-size: 18px;
    }
    .inner-tree .learn-more-trees {
        padding: 5px 10px;
    }
}
@media (min-width:601px) and (max-width:768px) {
    .product-container img {
        height: 150px;
        width: 150px;
    }
}
footer.page-footer {
    background: #683047;
    display: flex;
    flex-direction: column;
}
.footer-info-left {
    display: inline;
}
.brand-hero {
    color: #ffffff;
    font-size: 1.5em;
}
.footer-major {
    color: #D8C7CF;
    font-size: 12.5px;
    margin-right: 10px;
}
.footer-secondary {
    color: #99798D;
    font-size: .9em;
    margin-right: 10px;
}
@media only screen and (max-width: 601px) {
    footer.page-footer .container {
        text-align: center;
    }
    #mc_embed_signup_scroll {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .footer-info-right {
        margin-top: 10px;
    }
    #mc_embed_signup .clear {
        width: inherit !important;
    }
}
footer.page-footer .footer-copyright {
    background: #41182A;
}
#mc_embed_signup input.email {
    border-radius: 0px !important;
}
#mc_embed_signup .button {
    padding: 0 !important;
    text-align: center !important;
    border-radius: 0px !important;
}
#mc_embed_signup .button:hover {
    background: #f3c600 !important;
}


/*Shop html CSS*/

.recommend-container {
  margin-top: -20px;
  background: #ffffff;
  min-height: 30vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 12px solid #E7EAEF;
}

.recommend-container img{
  width: 90%;
  height: 100%;
}

@media (max-width:992px){
  .recommend-container img {
    max-width: 70% !important;
  }
}


.shop-container .row .product-container {
  margin-top: 50px;
  padding: 0 20px 0 20px;
}

.product-img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.product-intro h4{
  font-weight: 300;
  color: #683047;
}

.product-intro p {
  color: #909090;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 10px;
}

.user-selection {
  margin: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.user-selection label {
  font-size: 14px;
  color: #909090;
  width: 30%;
}

.user-selection select{
  width: 70%;
  border: 2px solid #d4d4d4;
  color: #683047;
  font-size: 14px;
}

.user-selection .quantity-box{
  margin-left: 60%;
  width: 20%;
  float: right;
  color: #683047;
}

.user-cost {
  width: 20%
}
